$bp-md: 768px;

.productosBuscados {
  width: 100%;
  margin: auto;
  padding: 4% 4%;

  .contenedor-card {
    max-width: 1520px;
    margin: auto;

    .categorias {
      height: 82px;
      padding: 48px 0px 16px;

      span {
        color: black;
        font-size: 12px;
      }
    }

    .filtre {
      height: 24px;
      margin-bottom: 2.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .boton {
        display: flex;
        justify-content: flex-end;
        padding: 0px 0px 12px;

        button {
          border: none;
          background-color: transparent;
          color: black;
          font-size: 16px;
        }

        .sort-dropdown {
          width: 224px;
          height: auto;
          background-color: #ffffff;
          margin: 8px 0px 0px;
          position: absolute;
          transform: translateY(20px);
          z-index: 1001;
          border-radius: 0.25rem;
          box-sizing: border-box;
          border: 0 solid #e5e7eb;
          padding: 20px 28px;

          .sort-option {
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 12px;

            &:hover {
              color: #00569c;
            }
          }
        }
      }

      @media (max-width: $bp-md) {
        display: block;

        .boton {
          margin-top: 8px;
        }
      }
    }

    .container-card {
      display: flex;
      justify-content: center;
      gap: 1px;
      flex-wrap: wrap;

      .cont-card {
        padding: 24px;
        border: solid 1.6px #ebf8ff;
        border-radius: 30px;
        width: 23%;
        height: auto;
        background-color: white;
        width: 288px;
        height: 388px;

        .imagen-carrito {
          padding: 24px;

          .icono {
            cursor: pointer;
            position: absolute;
            transform: translate(180px, -20px);

            &:hover {
              svg {
                fill: #00569c;
              }
            }
          }

          .imagen {
            width: 100%;
            cursor: pointer;

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .price-title {
          .title {
            padding: 8px 0px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            span {
              font-size: 16px;
              font-family: "Sniglet", sans-serif;
              text-align: center;
              color: #4b5563;
            }

            &:hover {
              span {
                color: #00569c;
              }
            }
          }

          .price {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              text-align: center;
              font-size: 24px;
              font-family: "Sniglet", sans-serif;
              color: #009fe3;
            }
          }
        }
      }
    }

    .botones-de-paginacion {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 147px;

      .paginacion-numeros {
        button {
          border: none;
          background-color: transparent;
          color: #374151;
          font-size: 16px;
          margin: 0px 8px;
          padding: 0px 8px;
          font-weight: 600;
          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1278px) and (max-width: 1535px) {
  .productosBuscados {
    width: 100%;
    margin: 0px 10px;
    padding: 0px 18px;
    margin: auto;

    .contenedor-card {
      max-width: 1280px;
      margin: auto;

      .categorias {
        height: 82px;
        padding: 48px 0px 16px;
      }

      .filtre {
        height: 24px;

        .boton {
          padding: 0px 0px 12px;
        }
      }

      .container-card {
        display: flex;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;

        .cont-card {
          height: auto;
          width: 306px;
          height: 412px;

          .imagen-carrito {
            padding: 24px;

            .icono {
              position: absolute;
              transform: translate(198px, -20px);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1277px) {
  .productosBuscados {
    width: 100%;
    padding: 0px 24px;
    margin: auto;

    .contenedor-card {
      max-width: 976px;
      margin: auto;

      .categorias {
        height: 82px;
        padding: 48px 0px 16px;
      }

      .filtre {
        height: 24px;

        .boton {
          padding: 0px 0px 12px;
        }
      }

      .container-card {
        display: flex;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;

        .cont-card {
          height: auto;
          width: 240px;
          height: 340px;

          .imagen-carrito {
            padding: 24px;

            .icono {
              position: absolute;
              transform: translate(140px, -20px);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .productosBuscados {
    width: 100%;
    padding: 0px 16px;
    margin: 0px 0px;
    margin: auto;

    .contenedor-card {
      max-width: 740px;
      margin: auto;

      .categorias {
        height: 82px;
        padding: 48px 0px 16px;
      }

      .filtre {
        height: 24px;

        .boton {
          padding: 0px 0px 12px;
        }
      }

      .container-card {
        display: flex;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;

        .cont-card {
          width: 368px;
          height: 446px;

          .imagen-carrito {
            padding: 24px;

            .icono {
              position: absolute;
              transform: translate(260px, -20px);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .productosBuscados {
    width: 100%;
    margin: auto;
    margin: 0% 1%;
    padding: 14px;
    display: flex;
    justify-content: center;

    .contenedor-card {
      margin: auto;
      width: 100%;

      .categorias {
        height: 82px;
        padding: 48px 0px 16px;
      }

      .filtre {
        height: 24px;

        .boton {
          padding: 0px 0px 12px;
        }
      }

      .container-card {
        display: flex;
        justify-content: center;
        gap: 1px;
        flex-wrap: wrap;
        width: 100%;

        .cont-card {
          width: 96%;

          height: auto;

          .imagen-carrito {
            padding: 24px;

            .icono {
              position: absolute;
              transform: translate(180px, -20px);
            }
            .imagen {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
