.footer {
    background-color: #D7EFFD;
    width: 100%;
    margin-top: -3%;
    padding: 0px 0px;

    .productos {
        padding: 0% 12%;
        padding-top: 3.4%;

        .contenedor-de-productos {
            display: flex;
            justify-content: space-between;

            .seccion {
                margin: 0px 0px 20px;
                padding: 0px 16px;
                width: 252.8px;

                .productos-title {

                    h4 {
                        font-family: "Source Code Pro", sans-serif;
                        color: #006ab0;
                        font-weight: 700;
                        font-size: 16px;
                        letter-spacing: -1px;
                    }
                }

                .contenido {
                    padding: 0px 0px 8px;
                    cursor: pointer;

                    .contenido-texto {
                        font-family: "Source Code Pro", sans-serif;
                        color: #009FE3;
                        font-weight: 600;
                        font-size: 16px;
                        margin: 0px 0px 8px;

                        &:hover {
                            color: #006ab0;
                        }
                    }

                    .icon-texto {
                        display: flex;
                        align-items: center;

                        svg {
                            margin: 6px;

                            path {
                                fill: #009FE3;
                            }
                        }
                    }

                }

                .imagenes-tarjeta {
                    margin: 4px 0px 0px;
                }
            }
        }

        .iconos-redes-sociales {
            margin: -2% 0px 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-bottom: 34px;

            .icono {
                cursor: pointer;
                margin: 5px;
                padding: 2px;

                path {
                    fill: #009FE3;
                    height: 20px;
                    width: 20px;

                    &:hover {
                        fill: #006ab0;
                    }
                }

                circle {
                    fill: #009FE3;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .footer {
        background-color: #D7EFFD;
        width: 100%;
        // margin-top: -6%;
        // padding: 24px 0px;
        margin-top: 0%;
        padding: 0px 0px;

        .productos {
            padding: 0% 4%;
            margin-top: 36px;

            .contenedor-de-productos {
                display: flex;
                flex-wrap: wrap;

                .seccion {
                    margin: 0px 0px 20px;
                    padding: 0px 16px;
                    width: 50%;

                    .productos-title {

                        h4 {
                            font-family: "Source Code Pro", sans-serif;
                            color: #006ab0;
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: -1px;
                        }
                    }

                    .contenido {
                        padding: 0px 0px 8px;
                        cursor: pointer;

                        .contenido-texto {
                            font-family: "Source Code Pro", sans-serif;
                            color: #009FE3;
                            font-weight: 600;
                            font-size: 16px;

                            &:hover {
                                color: #006ab0;
                            }
                        }

                        .icon-texto {
                            svg {
                                path {
                                    fill: #009FE3;
                                }
                            }
                        }

                    }

                    .imagenes-tarjeta {
                        margin: 4px 0px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .footer {
        // margin-top: -6%;
        // padding: 24px 0px;
        margin-top: 0%;
        padding: 0px 0px;

        .productos {
            padding: 0% 4%;
            margin-top: 36px;

            .contenedor-de-productos {
                display: flex;
                flex-wrap: wrap;

                .seccion {
                    margin: 0px 0px 20px;
                    padding: 0px 16px;
                    width: 50%;

                    .productos-title {

                        h4 {
                            font-size: 16px;
                            letter-spacing: -1px;
                        }
                    }

                    .contenido {

                        .contenido-texto {}

                        .icon-texto {}

                    }

                    .imagenes-tarjeta {
                        margin: 4px 0px 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 639px) {
    .footer {
        margin-top: 0%;
        padding: 0px 0px;

        .productos {
            padding: 0% 3%;
            padding-top: 36px;

            .contenedor-de-productos {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 0%;
        padding: 0px 0px;

        .productos {

            .iconos-redes-sociales {
                margin-top: -4%;
                margin-bottom: -0%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
        }
    }
}