.login-hecho {
    background-color: white;
    padding: 32px 0px 80px;
    padding-bottom: 10%;
    margin: auto;

    .contenedor-de-botones-de-inicio {
        width: 80%;
        max-width: 1900px;
        margin: auto;

        .tituloo-tituloo {
            margin: 0px 0px 48px;

            .titulo {
                text-align: center;
                font-size: 72px;
                font-family: "Sniglet", sans-serif;
                font-weight: 800;
                color: #009FE3;
            }
        }

        .cont {
            display: flex;
            flex-wrap: wrap;

            .boton-info-personal {
                box-shadow: 4px 4px #009FE3;
                border: solid 2.8px #009FE3;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                cursor: pointer;
                margin-bottom: 24px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 13px 40px;
                width: calc(25% - 10px);

                span {
                    color: #009FE3;
                    font-size: 14px;
                    font-weight: 800;
                    font-family: "Source Code Pro", sans-serif;

                }

                &:hover {
                    background-color: #009FE3;

                    span {
                        color: white;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .login-hecho {
        background-color: white;
        padding: 32px 0px 80px;
        padding-bottom: 10%;
        margin: auto;
    
        .contenedor-de-botones-de-inicio {
            width: 94%;
            max-width: 1488px;
            margin: auto;
    
            .tituloo-tituloo {
                margin: 0px 0px 48px;
    
                .titulo {
                    text-align: center;
                    font-size: 72px;
                    font-family: "Sniglet", sans-serif;
                    font-weight: 800;
                    color: #009FE3;
                }
            }
    
            .cont {
                display: flex;
                flex-wrap: wrap;
    
                .boton-info-personal {
                    box-shadow: 4px 4px #009FE3;
                    border: solid 2.8px #009FE3;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    cursor: pointer;
    
                    margin-bottom: 24px;
                    margin-left: 5px;
                    margin-right: 5px;
                    padding: 16px 40px;
                    width: calc(50% - 10px);
    
                    span {
                        color: #009FE3;
                        font-size: 14px;
                        font-weight: 800;
                        font-family: "Source Code Pro", sans-serif;
    
                    }
    
                    &:hover {
                        background-color: #009FE3;
    
                        span {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 536px) and (max-width: 767px) {
    .login-hecho {
        background-color: white;
        padding: 32px 0px 80px;
        padding-bottom: 10%;
        margin: auto;
    
        .contenedor-de-botones-de-inicio {
            width: 80%;
            max-width: 1488px;
            margin: auto;
    
            .tituloo-tituloo {
                margin: 16px 0px 52px;
                
    
                .titulo {
                    text-align: center;
                    font-size: 60px;
                    font-family: "Sniglet", sans-serif;
                    font-weight: 800;
                    color: #009FE3;
                }
            }
    
            .cont {
                display: flex;
                flex-wrap: wrap;
    
                .boton-info-personal {
    
                    margin-bottom: 24px;
                    margin-left: 5px;
                    margin-right: 5px;
                    padding: 14.4px 29px;
                    width: calc(100% - 10px);
                }
            }
        }
    }
}

@media (max-width: 535px) {
    .login-hecho {
        background-color: white;
        padding: 32px 0px 80px;
        padding-bottom: 10%;
        margin: auto;
    
        .contenedor-de-botones-de-inicio {
            width: 90%;
            max-width: 1488px;
            margin: auto;
    
            .tituloo-tituloo {
                .titulo {
                    text-align: center;
                    font-size: 36px;
                    font-family: "Sniglet", sans-serif;
                    font-weight: 800;
                    color: #009FE3;
                }
            }
    
            .cont {
                display: flex;
                flex-wrap: wrap;
    
                .boton-info-personal {
    
                    margin-bottom: 24px;
                    margin-left: 5px;
                    margin-right: 5px;
                    padding: 14.4px 29px;
                    width: calc(100% - 10px);
                }
            }
        }
    }
}