* {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  li {
    list-style: none;
  }
}

body {
  background-color: #ebf8ff;

  a:not([class*="btn"]) {
    text-decoration: none !important;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }

  ul:not([class*="btn"]) {
    text-decoration: none !important;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }

  li:not([class*="btn"]) {
    text-decoration: none !important;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }
}
