.header-desktop {
    background-color: white;

    navbar {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding-left: 1%;
        padding-right: 1%;
        position: sticky;
        z-index: 1000;

        .contenedor-logo {
            margin-top: 10px;

            .a-logo {

                .img-logo {
                    width: 320px;
                    height: 106.97px;
                }
            }
        }

        .contenedor-categorias {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .categoria {
                margin-right: 32px;

                .categoria-texto {
                    font-family: "Source Code Pro", sans-serif;
                    font-weight: 700;
                    color: #009FE3;
                    font-size: 18px;
                    padding: 12px 0px;
                }

                &:hover {
                    .categoria-texto {
                        color: #006AB0;
                    }

                    .contenedor-articulos {
                        display: block !important;
                    }
                }
            }

            .contenedor-articulos {
                background-color: #009FE3;
                display: flex;
                align-items: center;
                position: absolute;
                // top: 82%;
                top: 80%;
                width: 380px;

                .articulos {
                    cursor: pointer;

                    .con-texto {
                        display: flex;
                        align-items: center;
                        height: 44px;

                        &:hover {
                            background-color: #006AB0;
                        }

                        .texto {
                            display: block;
                            font-family: "Source Code Pro", sans-serif;
                            font-size: 18px;
                            font-weight: 800;
                            color: #FFFFFF;
                            margin-left: 20px;


                            &:hover {
                                background-color: #006AB0;
                            }
                        }
                    }
                }
            }
        }

        .contenedor-busqueda {
            display: flex;
            justify-content: center;
            align-items: center;

            .idioma {
                width: 58.52px;
                height: 40px;

                .contenedor-idiomas {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .icon {
                        margin-bottom: 4px;
                    }

                    .con-idioma-texto {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .idioma-texto {
                            font-size: 16px;
                            color: #009FE3;
                            font-weight: 700;
                            margin-top: 10px;
                        }
                    }
                }
            }

            .busqueda {
                border: solid 2.8px #009FE3;
                border-radius: 50px;
                height: 42px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 16px;
                padding-right: 10px;
                padding-top: 20px;
                padding-bottom: 22px;
                margin-left: 1vw;

                input {
                    border: none;
                    outline: none;
                    width: 140px;
                    color: #009FE3;
                }

                input::placeholder {
                    color: #009FE3;
                    font-size: 14px
                }

                .con-lupa {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .carrito-login {
                display: flex;
                justify-content: center;
                align-items: center;

                .caja {
                    margin-left: 0.6vw;
                    margin-right: 0.6vw;
                    cursor: pointer;

                    .carrito-cantidad-articulos {
                        position: absolute;
                        border-radius: 50%;
                        background-color: #009FE3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;

                        span {
                            color: white;
                            font-weight: 600;
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        .sidebar {
            height: 100vh;
            width: 320px;
            background-color: #009FE3;
            z-index: 1001;
            position: fixed;
            top: 0;
            right: 0;

            .all {
                .abrir-cerrar {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    height: 24px;
                    padding-top: 58px;
                    padding-left: 6%;
                    padding-right: 6%;

                    .contenedor-texto {
                        position: relative;
                        top: 16px;

                        .texto {
                            font-family: "Source Code Pro", sans-serif;
                            font-size: 16px;
                            font-size: 600;
                            color: #FFFFFF;
                        }
                    }

                    .contenedor-icon-x {
                        cursor: pointer;

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .categoria {
                    margin-top: 12px;

                    .categoria-nombre {

                        .contenedor-texto-icon {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 52px;
                            padding-left: 8%;
                            padding-right: 8%;
                            cursor: pointer;

                            .con-texto {
                                margin-top: 10px;

                                .texto {
                                    font-family: "Source Code Pro", sans-serif;
                                    font-size: 16px;
                                    font-weight: 800;
                                    color: #FFFFFF;
                                }
                            }

                            .con-icon {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }

                        .contenedor-articulos {
                            background-color: #006AB0;
                            display: flex;
                            align-items: center;

                            .articulos {
                                // padding-left: 8%;
                                // padding-right: 8%;
                                // padding-top: 8px;
                                // padding-bottom: 8px;

                                .texto {
                                    font-family: "Source Code Pro", sans-serif;
                                    font-size: 14px;
                                    font-weight: 800;
                                    color: #FFFFFF;



                                    margin-bottom: 0px;
                                    padding-left: 8%;
                                    padding-right: 8%;
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .fondo-buscador {
        width: 100%;
        padding: 0% 6%;
        height: 100vh;
        position: absolute;
        z-index: 1001;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.89);

        .icon-x {
            position: relative;
            bottom: 80px;
            left: 94%;
        }

        .busqueda {
            border: solid 2.8px #009FE3;
            border-radius: 50px;
            height: 42px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 22px;
            padding-bottom: 24.4px;
            margin-left: 1vw;
            background-color: white;
            margin-top: 20%;

            input {
                border: none;
                outline: none;
                // width: 140px;
                width: 100%;
            }

            input::placeholder {
                color: #009FE3;
                font-size: 14px
            }

            .con-lupa {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .header-desktop {

        navbar {
            display: flex;
            justify-content: space-between;
            height: 80px;
            padding-left: 1%;
            padding-right: 1%;
            position: sticky;
            z-index: 1000;

            .contenedor-logo {
                margin-top: 30px;

                .a-logo {

                    .img-logo {
                        width: 160px;
                        height: 53.48px;
                    }
                }
            }

            .contenedor-categorias {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .categoria {
                    margin-right: 15px;

                    .categoria-texto {
                        font-size: 16px;
                        padding: 12px 0px;
                    }
                }
            }

            .contenedor-busqueda {
                display: flex;
                justify-content: center;
                align-items: center;

                .idioma {
                    width: 58.52px;
                    height: 40px;

                    .contenedor-idiomas {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        .icon {
                            margin-bottom: 4px;
                        }

                        .con-idioma-texto {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .idioma-texto {
                                font-size: 16px;
                                color: #009FE3;
                                font-weight: 700;
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .busqueda {
                    border: solid 2.8px #009FE3;
                    border-radius: 50px;
                    height: 42px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 12.8px;
                    padding-right: 9px;
                    padding-bottom: 17.6px;
                    padding-top: 16px;
                    margin-left: 1vw;

                    input {
                        width: 137px;
                    }
                }

                .carrito-login {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .caja {
                        margin-left: 0.6vw;
                        margin-right: 0.6vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .header-desktop {

        navbar {
            padding-left: 2%;
            padding-right: 2%;

            .contenedor-logo {
                margin-top: 30px;

                .a-logo {

                    .img-logo {
                        width: 160px;
                        height: 53.48px;
                    }
                }
            }

            .contenedor-categorias {
                display: none;
            }

            .contenedor-busqueda {
                display: flex;
                justify-content: center;
                align-items: center;

                .idioma {
                    display: none;
                }

                .busqueda {
                    border: solid 2.8px #009FE3;
                    border-radius: 50px;
                    height: 39px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 12.8px;
                    padding-right: 12.8px;
                    padding-bottom: 15.08px;
                    padding-top: 13.8px;
                    margin-left: 1vw;

                    input {
                        width: 137px;
                    }

                    input::placeholder {
                        font-size: 14px
                    }

                    .con-lupa {
                        .lupa {
                            width: 1px;
                            height: 1px;
                        }
                    }
                }

                .carrito-login {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .caja {
                        margin-left: 1vw;
                        margin-right: 1vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-desktop {
        navbar {
            padding-left: 2%;
            padding-right: 2%;

            .contenedor-logo {
                margin-top: 24px;

                .a-logo {

                    .img-logo {
                        width: 192px;
                        height: 64.17px;
                    }
                }
            }

            .contenedor-categorias {
                display: none;
            }

            .contenedor-busqueda {
                display: flex;
                justify-content: center;
                align-items: center;

                .idioma {
                    display: none;
                }

                .busqueda {
                    border: solid 2.8px #009FE3;
                    border-radius: 50px;
                    height: 39px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 12.8px;
                    padding-right: 12.8px;
                    padding-bottom: 15.08px;
                    padding-top: 13.8px;
                    margin-right: 0.4vw;

                    input {
                        width: 137px;
                    }

                    input::placeholder {
                        font-size: 14px
                    }

                    .con-lupa {
                        .lupa {
                            width: 1px;
                            height: 1px;
                        }
                    }
                }

                .carrito-login {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .caja {
                        margin-left: 1.2vw;
                        margin-right: 1.2vw;
                    }

                    #hamburguesa {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header-desktop {
        navbar {
            height: 48px;
            padding-left: 2%;
            padding-right: 2%;

            .contenedor-logo {
                margin-top: 24px;

                .a-logo {

                    .img-logo {
                        width: 192px !important;
                        height: 64.17px;
                    }
                }
            }

            .contenedor-categorias {
                display: none;
            }

            .contenedor-busqueda {
                display: flex;
                justify-content: center;
                align-items: center;

                .idioma {
                    display: none;
                }

                .busqueda {
                    display: none;
                }

                .carrito-login {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .caja {
                        margin-left: 1.2vw;
                        margin-right: 1.2vw;

                        #lupita {
                            display: block !important;
                        }

                        #hamburguesa {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
}

// Ajuste de Menu Hamburguesa 
@media (max-width: 1279px) {
    .header-desktop {
        navbar {
            .contenedor-busqueda {
                .carrito-login {
                    .caja {
                        #hamburguesa {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}