.proteccionComprador {
    width: 90px;
    height: 170px;
    background-color: white;
    padding: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 52px;
    right: 20px;
    z-index: 2000; 

    &:hover{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.26) !important;
        transition: box-shadow 0.3s ease;
    }

    .puntos {
        position: absolute;
        transform: translate(72px, -17px);
        cursor: pointer;
    }

    .contenedor {
        .icono-puntos {

            .icon-absolute {
                position: absolute;
            }

            .imagen-medio {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .texto {
            margin: 5px 0px;
            text-align: center;

            span {
                font-weight: 600;
                text-align: center;
                font-size: 13px;
                line-height: 1.2;
                display: inline-block;
            }
        }

        hr {
            margin: 5px 0px;
        }

        .estrellas-contenedor {
            margin: 0;
            padding: 0px 6px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img{
                width: 13px;
                height: 13px;
            }
        }

        .texto-dos {
            display: block;
            text-align: center;

            .puntaje-numerico {
                text-align: center;
                font-weight: 800;
                font-size: 14px;
                margin: 1px;
            }
            
            .puntaje-alfabetico {
                text-align: center;
                font-size: 14px;
                margin: -3px;
            }
        }
    }
}

@media (max-width: 635px) {
    .proteccionComprador{
        display: none;
    }
}

.modal-proteccion-comprador{
    width: 145px;
    padding: 10px;
    display: block;
    background-color: white;
    border-radius: 16px;
    position: fixed;
    bottom: 223.5px;
    right: 20px;
    z-index: 2000;
    cursor: pointer;
    border-radius: 5px;

    a{
        display: block;
        span{
            font-size: 13px;
            padding: 2px 0px;
            color: black;
            display: inline-block;
            line-height: 1.4;
            &:hover{
                color: #0B71B4;
            }
        }

    }
}